.floating-card {
  position: relative;
  bottom: 0;
  width: 50vw;
  height: 80vh;
  z-index: 10;
  margin: 0rem 8rem;
  flex: 0 0 50vw;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  overflow: visible;
}

.floating-card img {
  width: 95%;
  object-fit: contain;
  display: block;
  z-index: 20;
  position: relative;
}

.accent-background {
  font-size: clamp(1.5rem, 3vw, 2.2rem);
  position: absolute;
  left: 0;
  bottom: 10rem;
  width: 100%;
  height: 65%;
  z-index: 5;
}

.accent-background .circle {
  position: absolute;
  width: 80%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.info-bar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 10rem;
  width: 100%;
  text-align: center;
  z-index: 20;
}

.info-bar h3 {
  font-size: clamp(1.5rem, 3vw, 2.2rem);
  margin: 0;
  line-height: 1.1;
  font-weight: 600;
}

.info-bar p {
  font-size: clamp(0.6rem, 1.4vw, 1.9rem) !important; /* Ridotto il font size */
  border: 0;
  margin: 0 !important;
  max-width: 100%;
  word-break: break-word;
  font-weight: 400;
}

@media (max-width: 1024px) {
  .floating-card {
    width: 100%;
    height: 50vh;
    margin: 1rem auto;
    flex: 1;
  }
}

@media (min-width: 640px) {
  .floating-card {
    max-width: 470px;
  }

  .info-bar p {
    font-size: clamp(1.1rem, 1.4vw, 1.5rem) !important; /* Font size più piccolo per mobile */
    line-height: 1.4;
    white-space: normal;
    overflow: visible;
    text-overflow: clip;
    padding: 0.5rem;
  }
}

@media (max-width: 640px) {
  .floating-card {
    width: 100%;
    height: 45vh;
    margin: 1rem auto;
    flex: 1;
  }

  .info-bar p {
    font-size: clamp(0.8rem, 2vw, 1rem) !important;
    line-height: 1.4;
    white-space: normal;
    overflow: visible;
    text-overflow: clip;
    padding: 0.5rem;
  }

  .info-bar p {
    font-size: clamp(0.8rem, 2vw, 1rem) !important;
    line-height: 1.4;
    white-space: normal;
    overflow: visible;
    text-overflow: clip;
    padding: 0.5rem;
  }
}